* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    align-items: center;
}

.header {
    display: block;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.main {
    display: block;
    align-items: center;
}

.footer {
    display: block;
    align-items: center;
    align-self: stretch;
}

.nav__link {
    display: inline-block;
    padding: 32px 38px;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none;
    color: #000;
}

.headering {
    margin-top: 88px;
    margin-bottom: 40px;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; 
}

.paragraph-1 {
    margin-bottom: 24px;
    width: 856px;
    color: #161616;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}

.paragraph-2 {
    margin-left: 20px;
    margin-bottom: 40px;
    width: 856px;
    color: #161616;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.container {
    padding: 92px 0;
    background-color: #00BDC9;
}

.images {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.line {
    margin-top: 88px;
    margin-bottom: 16px;
    border: solid 1px;
    width: 100%;
    align-self: stretch;
    background: #161616;
}

.text-1 {
    color: #04959E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.button {
    display: block;
    padding: 10px 24px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: #04959E;
    border: none;
}

.footer__text {
    padding-bottom: 16px;
    color: #161616;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.article {
    margin: 0 auto;
    max-width: 856px;
}

.nav {
    display: block;
    margin: 0 auto;
    max-width: 750px;
}

.container-2 {
    display: block;
    margin: 0 auto;
    max-width: 146px;
}